@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Raleway", sans-serif;
  }
}

.homeImage {
  filter: drop-shadow(0 -5px 5px #f8f8f8) drop-shadow(0 0 5px #416da7)
    drop-shadow(0 0 5px #0044ff) drop-shadow(-10px -10px 70px #02404b)
    drop-shadow(-10px -10px 50px #031a38);
  animation: 5s ease-in-out infinite flicker;
}

@keyframes flicker {
  0% {
    filter: drop-shadow(0 -5px 5px #f8f8f8) drop-shadow(0 0 5px #416da7)
      drop-shadow(0 0 5px #0044ff) drop-shadow(-10px -10px 70px #02404b)
      drop-shadow(-10px -10px 90px #021a3a);
  }

  100% {
    filter: drop-shadow(0 -5px 5px #038cfd) drop-shadow(0 0 5px #416da7)
      drop-shadow(-10px -10px 70px #02404b)
      drop-shadow(-10px -10px 90px #021a3a);
  }
}